.subtotal{
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1pz solid #dddddd;
    border-radius: 3px;
 label{
font-size: 0.8em;
}
button{
background-color: $secondery-orange;
border: none;
border-radius: 2px;
height: 30px;

}
}