.payment-page {
    .payment-container {
        section {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.343);
            padding: 20px;

            h3{
            width: 25%;

            }
        }
    }
}